.videoWrapper {
  /* display: flex; */
  position: absolute;
  background: url("/imgs/26.jpg");
  background-size: "cover";
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.videoWrapper video {
  position: relative;
  margin: auto;
  z-index: 0;
  width: 30%;
  height: 30%;
}

.AboutBackground {
  text-align: center;
}

.AboutBackground {
  display: flex;
  position: absolute;
  background: url("/imgs/15.jpg");
  background-size: "cover";
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}
